@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Oswald:wght@300&family=Raleway&family=Roboto:wght@700&display=swap');
/*********************************
1. Team
*********************************/
*{
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
}

.html
{
	font-size: 10px;
	font-family: "Roboto", sans-serif;
}

.body{
	overflow-x: hidden;
}

a{
	text-decoration: none;
	color: #fff;
}

section{
	padding: 10rem 0;
	background-color: #fff;
}

.heading{
	text-transform: uppercase;
	font-size: 3.5rem;
	letter-spacing: 3px;
	margin-right: -3px;
	margin-bottom: 3rem;
	text-align: center;
	color: #333;
	position: relative;
}

.heading::after{
	content: "";
	width: 10rem;
	height: .8rem;
	background-color: #45e19f;
	position: absolute;
	bottom: -2rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 2rem;
}

.card-wrapper{
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.card{
	width: 50%;
	background-image:url('../img/team_background.jpg');
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);	
}

.card .card-img{
	width: 100%;
	height: 20rem;
	object-fit: cover;
	clip-path: polygon(0 0, 100% 0, 100% 61%, 0% 100%);
}

.profile-img{
	width: 12rem;
	height: 13rem;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -10rem;
	z-index: 999;
	border: .5rem solid white;
}

.card h1{
	font-size: 2.5rem;
	color: #333;
	margin: 0 0;
	font-family: Roboto;
	text-align: center;
}

.word-done{
	color: #777;
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 1%;
}

.about{
	font-size: 1.2rem;
	font-style: italic;
	text-align: center;
	color: #333;
}

.social-media{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: .5rem 0;
	margin-top: 1.5rem;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.social-media i{
	font-size: 3rem;
	margin-top: .7rem;
	transition: color .3s;
}

.fa-github{
	color: #211F1F;
}

.fa-facebook-square
{
	color: #4267B2;
}

.fa-linkedin{
	color: #0e76a8;
}
.fa-github:hover,
.fa-facebook-square:hover,
.fa-linkedin:hover{
	color: #45e19f;
}

@media screen and (min-width: 700px)
{
	/* .card-wrapper{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	} */

	.card{
		margin: 2rem;
		transition: .5s;
	}

	@keyframes fadeIn {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	} 

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
	  
}
.card:nth-child(1){
	animation: fadeIn .5s .5s backwards;
}
.card:nth-child(2){
	animation: fadeIn .5s 1s backwards;
}
.card:nth-child(3){
	animation: fadeIn .5s 1.5s backwards;
}
.card:hover{
	transform: scale(1.05)
}
}